<!DOCTYPE html>
<html lang="es">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Película </title>
        <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
        <figure> <a href="/"> <img src="/img/logo-DH.png" alt="Logo DH"> </a> </figure>   
        <br>
        <h1> Película </h1>    
        <br>
        <p> Titulo: <%= pelicula.title %> </p>
        <br>
        <p> Rating: <%= pelicula.rating + "/10.0"%> </p>
        <br>
        <p> Premios: <%= pelicula.awards %> </p>
        <br>
        <p> Duración: <%= pelicula.length + " minutos"%> </p>
        <br>
        <p>Fecha de Estreno: <%= pelicula.release_date %> </p>
        <br>
        <br>
        <p> <a class="botonVolverPelicula" href="/movies"> Volver </a> </p>
</body>

</html>



